extends ./layouts/common
block content 
  h1 Welcome to Bucbuc
  .p
    a.badge.badge-primary(href="/books") Books
  .p
    a.badge.badge-primary(href="/auth/signUp") Sign up
  .p
    a.badge.badge-primary(href="/auth/login") Login